{% extends "layouts/base.html.twig" %}

{% block content %}
    <div class="main">
        <h1>Homepage</h1>

        <p>Welcome to Homepage</p>
        <p>Today is <strong>{{ day }}</strong>.</p>
    </div>
{% endblock %}